.input {
  margin: 0;
  padding: 0 var(--gap-half);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  font-size: 1rem;
  border-radius: var(--inline-radius);
  background: var(--bg);
  color: var(--fg);
  border: var(--gap-small) solid gray;
  outline: none;
  transition: border-color var(--transition);
}

.input:focus {
  border-color: var(--fg);
}
