.badge {
  display: inline-flex;
  align-items: center;
  font-size: 0.9rem;
  background-color: var(--neutral-3);
  border: 1px solid var(--neutral-2);
  border-radius: var(--radius);
  color: var(--neutral);
  padding: 0 var(--gap-half);
  font-weight: 450;
}
